<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div">
  <div>
    <%= f.label :email%><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email'%>
  </div>
</div><br>
<div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
  </div>
</div><br>
  <div>
     <%= f.submit "Log in"%>
  </div>
  <% end %>
</div>
